.grid-container{
  display:grid;
  /* grid-template-columns: 15% 85%;
  grid-template-rows: 100% 25%; */
  /* column-gap: 1%; */
  grid-template: 11% 20% 20% 20% 20%/ 20% 20% 20% 20% 20% 20%;
  grid-template-areas: "logo logo logo logo logo"
                      "sliders graph graph graph graph"
                      "sliders graph graph graph graph"
                      "sliders graph graph graph graph"
                      "sliders graph graph graph graph"
                      "sliders graph graph graph graph"
                      
}
#slideContainer{
  display: block;
  /* border-radius: 10px; */
  padding: 20px;
  align-items: center;
  grid-area: sliders;
}

#furmanLogo{
  grid-area: logo;
  text-align: center;
}

.grid-element{
  /* border: solid black 1px; */
  align-items: center;
  justify-content: center;
}

.slider{
  -webkit-appearance: none;
  width: 70%;
  appearance: none;
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.label{
  text-align: center;
  font-size: 17px;
  color: #e26f6f;
}
p{
  font-size: 15;
  text-align: center;
}

.header {
  width: 100%;
  padding: 2px;
  text-align: center;
  background: #4f77dc;
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}

#labels{
  border: solid black 2px;
}

#graph{
  grid-area: graph;
}

body {
    background-color: rgb(238, 238, 238)
  }
  
.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.airport {
  fill: rgb(229, 204, 153);
  opacity: 0.7;
  stroke: #252525;
}

.flight {
  fill: none;
  stroke: #f70000;
  /* stroke-opacity: .8; */
  
}
/* Affects stroke width slider?? */
.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}

/* This allows the buttons and lines to be turned red */
.highlight {
  opacity: 1 !important;
  stroke: red !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.8 !important;
}

g#voronoi {
  pointer-events: all;
}

/* shadow trick from bl.ocks.org */
#tooltip {
  font-size: 10pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

#airportText{
  font-weight: bold;
  font-size: 17px;
  font-family: sans-serif;
}

#months{
  font-family: sans-serif;
  font-size: 1000px;
}

#graph-box{
  /* width: 100vw;
  height:100vh; */
  width: 100%;
  height: 100%;
  grid-area: graph;
  /* padding: 30px; */
  /* border-radius: 10px; */
}

#airports{
  padding:20px;
  margin-top: 100;
}

#applyButton{
  background-color: tomato;
  color: white;
  padding: 7px;
  border: solid black 2px;
  border-radius: 8px;
}

.grid-item{
  border: solid rgb(48, 151, 185) 3px
}

h1.boxLabel{
  color:rgb(237, 142, 142);
  text-align: center;
}

#stylesBox{
  margin: 5px;
  border: solid black 2px;
  border-radius:8px;
  padding: 10px
}

#forceParam{
  margin: 5px;
  border: solid black 2px;
  border-radius:8px;
  padding: 10px
}